<h2>Create a New Heroine:</h2>

<%= form_for @heroine do |f| %>
    <label>Name:</label>
    <%= f.text_field :name %>
    <br><br>

    <label>Super Name:</label>
    <%= f.text_field :super_name %>
    <br><br>

    <label>Select Power:</label>
    <%= f.collection_select(:power_id, Power.all, :id, :name) %>
    <br><br>

    <%= f.submit %>
<% end %>

<!--
<div class="error" style="color:red">
<% if flash[:super_name_error].first.include?("blank") %>
    <p>Super Name cannot be blank. </p>
<% elsif flash[:super_name_error].first.include?("taken") %>
    <p>Sorry, that Super Name is already taken. Please choose a new Super Name.</p>
<% end %>
<% if flash[:name_error].first.include?("blank") %>
    <p>Name cannot be blank</p>
<% end %>
</div>
-->